.nav-bar{
    background-color: #f9f9fa;
    padding: 20px 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    border-top: var(--border);
}
.nav-bar__menu{
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
}
.nav-bar__item{
    color: #2e363e;
}

.nav-bar__item:nth-child(2){
    position: relative;
}

.nav-notification{
    position: absolute;
    right: -10px;
    top: -5px;
}