    .user-component,
    .user-component__column{
        display: flex;
        align-items: center;
    }
    .user-component{
        justify-content: space-between;
    }

    .user-component__text{
        display: flex;
        flex-direction: column;
    }

    .user-component__title{
        font-size: 22px;
        font-weight: 500;
        margin: 0px 0px 0px 25px;
    }

    .user-component__subtitle{
        font-size: 17px;
        opacity: 0.5;
        margin: 8px 0px 0px 25px;
    }

    .user-component__column:last-child{
        color: rgba(0,0,0,0.4);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .user-component__img--lg{
        width: 70px;
        height: 70px;
        border-radius: 30px;
    }
    .user-component__img--sm{
        width: 60px;
        height: 60px;
        border-radius: 25px;
    }
    .user-component__img--xlg{
        width: 80px;
        height: 80px;
        border-radius: 30px;
    }
    .user-component__time{
        margin-bottom: 10px;
    }