@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import "normalize.css";
@import "variables.css";

/*component*/
@import "component/status-bar.css";
@import "component/navigation-bar.css";
@import "component/badge.css";
@import "component/screen-header.css";
@import "component/user-component.css";
@import "component/icon-row.css";
@import "component/alt-screen-header.css";

/*screen*/
@import "screen/login.css";
@import "screen/friends.css";
@import "screen/find.css";
@import "screen/more.css";
@import "screen/settings.css";

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2e363e;
}

.main-screen{
    margin: 0px var(--horizontal-space);
}