.friends-display-link{
    background-color: #fafafa;
    text-align: center;
    opacity: 0.5;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: -15px;
}

.friends-screen-channel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: var(--border);
    margin-top: 25px;
    margin-bottom: 10px;
    opacity: 0.5;
}

.user-component--not-bold{
    font-weight: 400;
}

/*animation*/
@keyframes hideSplashScreen {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}
#splash-screen{
    width: 100vw;
    height: 100vh;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 132px;
    position: absolute;
    top: 0;
    animation: hideSplashScreen 0.3s ease-in-out forwards;
    animation-delay: 2s;
}